{% load crispy_forms_tags %}
<!DOCTYPE html>
  <head>
    <title>Journal | Forgot Password </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
  </head>

  <body>
    <div class = 'main'>
      <h1>Forgot your password?</h1>
      <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Send me instructions!" class = 'send-btn'>
      </form>
    </div>

    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
      }

      .main {
        display: flex;
        flex-direction: column;
      }

      .main > * {
        margin-top: 10px;
      }

      .send-btn {
        border: none;
        border-radius: 5px;
        color: white;
        background-color: rgb(44, 133, 178);
        padding: 10px;
      }
    </style>
  </body>
</html>
