{% load static %}
<!DOCTYPE HTML>
    <head>
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
        <link rel = "stylesheet" href = "{% static 'css/base.css' %}">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <nav class="nav">
            <a href="#" class="sidebar-toggle"><i class="fa fa-2x fa-bars"></i></a>
        </nav>	
        <div class="wrapper">
            <div id="sidebar" class="sidebar">
                <a href="#" class="sidebar-toggle sidebar-toggle sidebar-toggle-hidden">
                    <i class="fa fa-2x fa-bars"></i>
                </a>			
                <div class="header">
                    <div class="logo">
                        <p class="text">{{ request.user|title }}</p>
                    </div>
                </div>
                <hr />			
                <h4 class="title">Menu</h4>
                <ul class="menu">
                    <li>
                        <a href="{% url 'home' %}">
                            <i class="fa fa-folder"></i>
                            <span>Home</span>
                        </a>										
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-battery-4"></i>
                            <span>Logout</span>
                        </a>										
                    </li>	
                    <li>
              </ul>
            </div>    
            <div id="main" class="main">						
                {% block content %}{% endblock %}
            </div>		
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
    <script>
        $(".sidebar-toggle").click(function(){
            $("#sidebar").toggleClass("sidebar-collapse");
            $("#main").toggleClass("main-expand");
        })
    </script>
    {% block extra_js %}{% endblock %}
</HTML>